{% extends 'themes/default/admin/pages/ticket/template.html.twig' %}

{% block title %}Gestion des journées{% endblock %}

{% block main_content %}

    <section class="title">
        <h1>Gestion des journées</h1>
    </section>

    <section class="content">
        <div class="toolbar">
            <!-- <div class="toolbar-left">
                <div class="item">
                    <a class="btn btn-primary">Ajouter une journée</a>
                </div>
            </div> -->
        </div>

        <div class="days">
            <div class="days-cards">
                {% for day in days %}
                    <div class="day-card">
                        <div class="day-card-date">
                            <div class="day-card-isOpen day-card-isOpen-{{ day.isOpen }}"></div>
                            <div>{{ day.day | date('d-m-Y') }} {{ day.isOpen ? '<span class="txt-discret"> | ouvert</span>' : null}} </div>
                        </div>
                        <div class="day-card-type">Journée des {{ day.typeString }}</div>
                        <div class="day-card-numbers">
                            <div class="day-card-max">Tickets max : {{ day.max }}</div>
                            <div class="day-card-remaining">reste : {{ day.remaining }}</div>
                        </div>
                        <div class="day-card-actions">
                            <button class="btn-edit">Editer</button>
                            <a href="{{ path('admin_ticket_show', {'ticketDay': day.id}) }}" class="btn-details">Détails</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}