{% extends 'themes/default/admin/pages/ticket/template.html.twig' %}

{% block title %}Détails de la journée du {{ day.day | date('d-m-Y') }}{% endblock %}

{% block main_content %}

    <section class="title">
        <h1>Détails du {{ day.fullDateString | lower }} - {{ day.typeString }}</h1>
    </section>

    <section class="content">
        <div id="details" data-day-id="{{ day.id }}" data-slots="{{ slots | json_encode() }}" data-prospects="{{ prospects | json_encode() }}" data-responsables="{{ responsables | json_encode() }}"></div>
    </section>
{% endblock %}