{% extends 'themes/default/admin/pages/ticket/template.html.twig' %}

{% block title %}Détails de la journée du {{ day.day | date('d-m-Y') }}{% endblock %}

{% block main_content %}

    <section class="title">
        <h1>Détails de la journée des {{ day.typeString }} du {{ day.day | date('d') }}</h1>
    </section>

    <section class="content">
        <div class="toolbar">
            <div class="toolbar-left">
                <div class="item">
                    <a href="{{ path('admin_ticket_index') }}" class="btn">Retour à la liste</a>
                </div>
            </div>
        </div>

        <div id="details" data-slots="{{ slots | json_encode() }}" data-prospects="{{ prospects | json_encode() }}"></div>

        {#
        <div class="slots-cards">
            {% for slot in slots %}
                <div class="slot-card">
                    <div class="slot-card-date">
                        <div>{{ slot.horaire | date('H \\h i')}} </div>
                    </div>
                    <div class="slot-card-numbers">
                        <div class="slot-card-max">place max : {{ slot.max }}</div>
                        <div class="slot-card-remaining">reste : {{ slot.remaining }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        #}
    </section>
{% endblock %}