{% extends 'themes/default/admin/pages/ticket/template.html.twig' %}

{% block title %}Détails de la journée du {{ day.day | date('d-m-Y') }}{% endblock %}

{% block main_content %}

    <section class="title">
        <h1>Détails de la journée des {{ day.typeString }} du {{ day.fullDateString }}</h1>
    </section>

    <section class="content">
        <div class="toolbar">
            <div class="toolbar-left">
                <div class="item">
                    <a href="{{ path('admin_ticket_index') }}" class="btn">Retour à la liste</a>
                </div>
                <div class="item">
                    <a href="{{ path('admin_ticket_history', {'ticketDay': day.id}) }}" class="btn">Historique</a>
                </div>
            </div>
            <div class="toolbar-right">
                <div class="item">
                    <a href="{{ path('admin_ticket_export', {'ticketDay': day.id}) }}" download="liste-{{day.id}}.csv" class="btn btn-primary">Exporter</a>
                </div>
            </div>
        </div>

        <div id="details" data-slots="{{ slots | json_encode() }}" data-prospects="{{ prospects | json_encode() }}"></div>
    </section>
{% endblock %}