{% extends 'themes/default/app/layout/layout.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('default_security') }}
{% endblock %}

{% block main_content %}

    <div class="ariane">
        <span><a href="{{ path('app_homepage') }}">Accueil</a></span>
        <span class="active"><a href="{{ path('app_login') }}">Se connecter</a></span>
    </div>

    <section class="login">

        <h1>Se connecter</h1>

        <div class="login-card">
        
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
        
                
                <div class="form-group">
                    <label for="inputUsername">Nom utilisateur</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" required>
            
                </div>
                
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
        
                <div class="form-group form-group-btn">
                    <button class="btn btn-primary" type="submit">
                        Se connecter
                    </button>
                </div>

                <div class="form-group-btn">
                    <a href="" class="link link-primary">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
    </section>
    
    <div id="form-lost"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('default_security') }}
{% endblock %}