{% extends "themes/default/app/email/template_booking.html.twig" %}

{% block month %}{{ day.monthFr }}{% endblock %}

{% block day %}{{ day.day | date('d') }}{% endblock %}

{% block horaire %}{{ horaire }}{% endblock %}

{% block barcode %}
    <img src="{{ "data:image/png;base64," ~ barcode }}">
{% endblock %}

{% block ticket %}
    <b>{{ ticket }}</b>
{% endblock %}

{% block responsable %}{{ responsable.civility }} {{ responsable.firstname | capitalize }} {{ responsable.lastname | upper }}{% endblock %}
{% block famille %}
    <ul>
        {% for prospect in prospects %}
            <li>
                {{ prospect.civility }} {{ prospect.firstname | capitalize }} {{ prospect.lastname | upper }} ({{ prospect.age }}) - {{ prospect.birthday | date('d/m/Y') }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}