{% extends "themes/default/app/email/template_booking.html.twig" %}

{% block month %}{{ day.monthFr }}{% endblock %}

{% block day %}{{ day.day | date('d') }}{% endblock %}

{% block horaire %}{{ horaire }}{% endblock %}

{% block barcode %}
    <img src="cid:barcode.jpg">
{% endblock %}

{% block ticket %}
    <b>{{ ticket }}</b>
    <div>
        <a href="{{ print }}" target="_blank">Imprimer le billet</a>
    </div>
{% endblock %}

{% block responsable %}{{ responsable.civility }} {{ responsable.firstname | capitalize }} {{ responsable.lastname | upper }}{% endblock %}
{% block famille %}
    <ul>
        {% for prospect in prospects %}
            <li>
                <span>{{ prospect.civility }} {{ prospect.firstname | capitalize }} {{ prospect.lastname | upper }} ({{ prospect.age }}) - {{ prospect.birthday | date('d/m/Y') }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}