{% extends 'themes/default/app/layout/layout.html.twig' %}

{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('default_homepage') }}
{% endblock %}

{% block title %}Journées d'inscription à la cité de la musique de Marseille{% endblock %}

{% block main_content %}

    <header>
        <div class="header">
            <div class="header-title">
                <h1><span>Cité</span> <span>de la musique</span></h1>
                <p class="subtitle">de Marseille</p>
            </div>
            <div class="header-actions">
                <a href="{{ path('app_booking_index') }}" class="btn">Réserver un ticket</a>
            </div>
        </div>
    </header>

    <div class="deroulement-section">
        <div class="deroulement">
            <h2>Déroulement de la journée</h2>
            <p>
                Durant cette journée, vous pourrez rencontrer les professeurs, et obtenir toutes les informations pratiques 
                dont vous avez besoin pour faire votre choix : instruments pratiqués, nombre de places disponibles 
                (en fonction de l’âge et du niveau musical), lieux où se déroulent les activités..
            </p>
        </div>
    </div>

    <div class="rdv-section">
        <div class="rdv">
            <p>
                <span>Rendez-vous à la Cité de la musique </span>
                <span class="rdv-bold-underline">muni de votre ticket d'entrée</span>
                <span> et </span>
                <span class="rdv-bold-underline">votre avis d'impôt.</span>
            </p>
        </div>
    </div>

    <section class="inscription-sectin">
        <div class="inscription">
            <div class="content">
                <h2>Comment s'inscrire ?</h2>
                <p>
                    Les inscriptions aux cours et ateliers de musique auront lieu à la Cité de la musique de Marseille, 
                    4 rue Bernard du Bois, Marseille 1er arrondissement. 
                    <br><br>
                    Etant donné le grand nombre de demandes, un système de tickets d’entrée a été mis en place. 
                    Ce dispositif permet de limiter au maximum l’attente des enfants et des parents.
                    <br><br>
                    <b>Si vous souhaitez assister à une journée, <a href="{{ path('app_booking_index') }}" class="txt-primary">réservez un ticket</span>.</b>
                </p>
                <a href="{{ path('app_booking_index') }}" class="btn btn-primary">Réservez un ticket</a>
            </div>
            <div class="illustration">
                <div class="image">
                    <img src="{{ asset(path_images ~ "inscription.jpg") }}" alt="Illustation cité de la musique">
                </div>
            </div>
        </div>
    </section>

    <section class="infos-section">
        <div class="infos">
            <h2>Infos pratiques</h2>
            <div class="content">
                <div>
                    <h3>Accès</h3>
                    <p>
                        Les cours de musique sont répartis entre plusieurs centres d’enseignement répartis sur la ville de Marseille.
                    </p>
                    <a href="http://www.citemusique-marseille.com/infos-pratiques/acces-horaires/" target="_blank" class="link link-primary">Découvrir la liste des centres</a>
                </div>
                <div>
                    <h3>Tarifs cours et ateliers</h3>
                    <p>
                        La Cité de la Musique propose des tarifs préférentiels pour les personnes résidant à Marseille et les étudiants de moins de 26 ans. 
                        <br><br>
                        Le calcul du tarif d’inscription prend aussi en compte le montant de votre imposition. 
                        Le quotient familial est calculé à partir du revenu fiscal de référence et du nombre de parts fiscales 
                        figurant sur l'avis d'imposition.
                    </p>
                    <a href="http://www.citemusique-marseille.com/simulateur-de-tarifs/" target="_blank" class="link link-primary">Accéder au simulateur de tarif en ligne</a>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-section">
        <div class="contact">
            <p>
                <span class="txt-primary">Contact : </span>
                04 91 39 28 28 - 4 rue Bernard du Bois, 13001 Marseille
            </p>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('default_homepage') }}
{% endblock %}