{% extends 'themes/default/app/layout/layout.html.twig' %}

{% block title %}Réservation d'un ticket pour la journée d'inscription à la Cité de la musique{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('default_booking') }}
{% endblock %}

{% block main_content %}

    <div class="ariane">
        <span><a href="{{ path('app_homepage') }}">Accueil</a></span>
        <span class="active"><a href="{{ path('app_booking_index') }}">
            Réservation {{ day is defined ? 'de ticket pour le ' ~ day.day | date('d/m/Y') : null }}
        </a></span>
    </div>

    {% if day is defined %}
        <div id="booking" data-day="{{ day.day | date('d/m/Y') }}" data-id="{{ day.id }}" data-type="{{ day.type }}" data-remaining="{{ day.remaining }}" data-days="{{ days }}"></div>
    {% else %}
        <div>
            <div class="section-infos">
                <div class="informations">
                    <h1>Réservation de tickets</h1>
                    <p class="subtitle">Aucune inscription ouvert pour aujourd'hui.</p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('default_booking') }}
{% endblock %}